# Haskell.
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# Personal.
**/results/
**/results-*/
# *.batch
# *.data
# *.log
# *.mc3
# *.meantree
# *.mhg
# *.monitor
# *.settings
/analyses/
/misc/
/scripts/TreesMonitorSummary
/scripts/TreesMonitorSummary.hs

# Latex stuff.
*.bbl
*.tex
**/auto/
